/* Color Style Switcher */
#color-style-switcher div h3 {
    color: #efefef;
    font-size: 19px;
    margin: 8px 3px 12px;
}
#color-style-switcher {
    background: none repeat scroll 0 0 rgba(0,0,0,.08);
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.02);
    left: -189px;
    position: fixed;
    top: 250px;
    width: 195px;
    z-index: 9999;
}
#color-style-switcher div {
    padding: 5px 10px;
}
#color-style-switcher .bottom {
    background: none repeat scroll 0 0 rgba(0,0,0,.7);
    color: #252525;
    padding: 0;
}
#color-style-switcher .bottom a.settings {
    background-color:rgba(0,0,0,.7);
    background-image: url('../img/colors.png');
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.08);
    display: block;
    height: 40px;
    position: absolute;
    right: -40px;
    top: 0;
    width: 40px;
    padding: 3px;
}
#color-style-switcher select {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #FFFFFF;
    line-height: 1;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 150px;
}
ul.colors {
    list-style: none outside none;
    margin: 0 0 10px;
    overflow: hidden;
	padding:0;
}
ul.colors li {
    float: left;
    margin: 2px;
}
ul.colors li a {
    cursor: pointer;
    display: block;
    height: 35px;
    width: 35px;
	border-radius:4px;
	-webkit-border-radius:4px;
}

ul.colors li a.active {
    position: relative;
}
ul.colors li a.active:after {
    color: #fff;
    content:"\f00c";
    font-family: "FontAwesome";
    font-size: 10px;
    right: 12px;
    position: absolute;
    top: 9px;
}
ul.colors li a.color1.active:after, ul.colors li a.color8.active:after{
    color:#FFFFFF;
}
@media only screen and (max-width: 500px) {
    #color-style-switcher {
        display: none;
    }
}

/* Color Style Switcher  End */



/* Colors */

/* light-version */
ul.colors .color1 {
    background: #212121 ; /* default black */
}
ul.colors .color2 {
    background: #1E88E5;  /* blue */
}
ul.colors .color3 {
     background: #5E35B1;  /* deep-purple */
}
ul.colors .color4 {
     background: #43A047;  /* green */
}
ul.colors .color5 {
     background: #FB8C00;  /* orange */
}
ul.colors .color6 {
     background: #e53935;  /* red */
}
ul.colors .color7 {
     background: #546E7A;  /* blue-grey */
}

/* dark-version */
ul.colors .color8 {
     background: #F9BF13;  /* default ambar */
}
ul.colors .color9 {
     background: #03A9F4;  /* light-blue */
}
ul.colors .color10 {
     background: #9CCC65;  /* light-green */
}
ul.colors .color11 {
     background: #D4E157;  /* lime */
}
ul.colors .color12 {
     background: #AB47BC;  /* light-purple */
}
ul.colors .color13 {
     background: #1DE9B6;  /* teal */
}
ul.colors .color14 {
     background: #FDD835;  /* yellow */
}


/* Colors End */
