/*--   Hero Area   --*/
section#hero-area {
  padding-top: 16rem;
  padding-bottom: 16rem;
}
#hero-area .hero-title{    
    font-size: 6rem;
    font-weight: 100;
    line-height: 8.5rem;
}
#hero-area .hero-subtitle{
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
    opacity: 0.5;
    margin-bottom: 3rem;
}
#hero-area img.hero-img-right{
  z-index: 5000;
  position: absolute;
  top: -50px;
  max-width: 150%;
}

/*--   hero-area-responsive   --*/
@media(min-width:1320px) {
  section#hero-area{}
  #hero-area img.hero-img-right{
    top: -40px;
  }
}
@media(max-width:1080px) {
  section#hero-area {
    padding-top: 20rem;
    padding-bottom: 14rem;
  }
  #hero-area .hero-title{
    font-size: 52px;
    line-height: 62px;
  }
  #hero-area .hero-subtitle{
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
@media(max-width:840px) {
  .hero-text{
    text-align: center;
    padding: 0px 50px;
  }
  #hero-area .hero-title{
    font-size: 48px;
    line-height: 62px;
  }
  .hero-subtitle{
    font-size: 16px;
  }
}
@media(max-width:640px) {
  #hero-area .hero-title{
    font-size: 48px;
    line-height: 52px;
  }
  #hero-area .hero-text .btn{
    margin-top: 20px;
  }
  .hero-text{
    text-align: center;
    padding: 0px 0px;
  }
}



#faq{
  background: #ffffff;
}
/* Style the buttons that are used to open and close the accordion panel */
#faq button.accordion {
    background-color: transparent;
    color: #212121;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    border: 1px solid #efefef;
    transition: 0.4s;
    margin-top: -1px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
#faq button.accordion.active, button.accordion:hover {
    background-color: #efefef !important;
    border: 1px solid #efefef;
    transition: 0.4s;
}


/* Style the accordion panel. Note: hidden by default */
#faq div.panel {
    padding: 0 18px;
    background-color: transparent;
    display: none;
}
/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
#faq div.panel.show {
  display: block !important;
  transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#faq div.panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0px;
  transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#faq div.panel.show {
  opacity: 1;
  max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
  padding: 2rem;
  background: #fcfcfc;
}
#faq button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #212121;
    float: right;
    margin-left: 5px;
    margin-top: -3.5rem;
}
#faq button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: #ffffff;
}

/*--   FAQ Responsive   --*/
@media(max-width:640px) {
  #faq button.accordion h4{
    padding-right: 25px;
  }
}



/*--   Call to Action  --*/
.call-to-action{
  background-color: #f9f9f9;
  background-image: url("../img/patern-1.png");
  padding: 60px 0;
  background-repeat: repeat;
  background-size: 214px 17px;
  background-position: center, center;
  background-attachment: scroll;
}
.call-to-action .hero-title{    
    font-size: 6rem;
    font-weight: 100;
    line-height: 8.5rem;
}
.call-to-action .hero-subtitle{
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
    opacity: 0.5;
    margin-bottom: 3.5rem;
}

/*--   Responsive Call to Action  --*/
@media(min-width:1080px) {
  .call-to-action .btn{
    margin-top: 80px;
  }
}
@media(max-width:1080px) {
  .call-to-action .hero-title, .call-to-action .hero-subtitle{
    text-align: center;
  }
}
@media(max-width:840px) {
  .call-to-action .hero-title{
    font-size: 48px;
    line-height: 52px;
  }
  .call-to-action.hero-subtitle{
    font-size: 16px;
  }
}
@media(max-width:640px) {
  .call-to-action .hero-text{
    text-align: center;
    padding: 0px 20px;
  }
}