
/*--   Hero Area   --*/
section#hero-area {
  padding-top: 16rem;
  padding-bottom: 16rem;
}
#hero-area .hero-title{    
    font-size: 6rem;
    font-weight: 100;
    line-height: 8.5rem;
}
#hero-area .hero-subtitle{
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
    opacity: 0.5;
    margin-bottom: 3rem;
}
#hero-area img.hero-img-right{
  z-index: 5000;
  position: absolute;
  top: -50px;
  max-width: 150%;
}


/*--   hero-area-responsive   --*/
@media(min-width:1320px) {
  section#hero-area{}
  #hero-area img.hero-img-right{
    top: -40px;
  }
}
@media(max-width:1080px) {
  section#hero-area {
    padding-top: 20rem;
    padding-bottom: 14rem;
  }
  #hero-area .hero-title{
    font-size: 52px;
    line-height: 62px;
  }
  #hero-area .hero-subtitle{
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
@media(max-width:840px) {
  .hero-text{
    text-align: center;
    padding: 0px 50px;
  }
  #hero-area .hero-title{
    font-size: 48px;
    line-height: 62px;
  }
  .hero-subtitle{
    font-size: 16px;
  }
}
@media(max-width:640px) {
  #hero-area .hero-title{
    font-size: 48px;
    line-height: 52px;
  }
  #hero-area .hero-text .btn{
    margin-top: 20px;
  }
  .hero-text{
    text-align: center;
    padding: 0px 0px;
  }
}


img.feature-icon{
  margin-left: -20px;
}
#how-works{
  background: #f7f7f7;
  text-align: center;
}
#how-works .content{
  padding: 2rem;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#how-works .content:hover{}
#how-works img{
  width: 30%;
  height: auto;
}
#how-works .content h4{
  margin-top: 2rem;
}
#how-works .content p{
  margin-bottom: 2rem;
}



/*--   Features Area   --*/

section.feature-content-area{
  padding-top: 15rem;
}
section.feature-content-area-1, section.feature-content-area-3{
  background: #ffffff;
}
section.feature-content-area-2{
  background: #efefef;
}

/*--   Features Area Responsive   --*/
@media(max-width:640px) {
  section.feature-content-area{
    padding-top: 10rem;
  }
  .feature-content-area .text-content{
    margin: 60px 0px;
  }
}
@media(max-width:480px) {
  section.feature-content-area{
    padding-top: 5rem;
  }
  .feature-content-area .text-content{
    margin: 30px 0px;
  }
}





.features{
  background: #f9f9f9;
  padding-bottom: 0px;
}
.features .content{
  position: relative;
  float: left;
  margin-top: 60px;
}
.features .content span{
  display: block;
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
}
.features .content img{
  width: 90px;
  height: auto;
}
.features .content p{
  margin-bottom: 30px;
}

.features .feature-img-right{
  width: 150%;
  max-width: inherit;
  padding-left: 30px;
}

.features .feature-img-left{
  width: 150%;
  max-width: inherit;
  padding-right: 30px;
  margin-left: -50%;
}

.features .feature-img-bottom{
  padding-top: 60px;
  margin-bottom: -60px;
}

/*--   Features area image position Responsive  --*/
@media(max-width:640px) {
  .features .feature-img-right, .features .feature-img-left{
    width: 100% !important;
  }
}




/*--   Call to Action  --*/
.call-to-action{
  background-color: #f9f9f9;
  background-image: url("../img/patern-1.png");
  padding: 60px 0;
  background-repeat: repeat;
  background-size: 214px 17px;
  background-position: center, center;
  background-attachment: scroll;
}
.call-to-action .hero-title{    
    font-size: 6rem;
    font-weight: 100;
    line-height: 8.5rem;
}
.call-to-action .hero-subtitle{
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
    opacity: 0.5;
    margin-bottom: 3.5rem;
}

/*--   Responsive Call to Action  --*/
@media(min-width:1080px) {
  .call-to-action .btn{
    margin-top: 80px;
  }
}
@media(max-width:1080px) {
  .call-to-action .hero-title, .call-to-action .hero-subtitle{
    text-align: center;
  }
}
@media(max-width:840px) {
  .call-to-action .hero-title{
    font-size: 48px;
    line-height: 52px;
  }
  .call-to-action.hero-subtitle{
    font-size: 16px;
  }
}
@media(max-width:640px) {
  .call-to-action .hero-text{
    text-align: center;
    padding: 0px 20px;
  }
}
