/*--   Hero Area   --*/
section#hero-area {
  padding-top: 16rem;
  padding-bottom: 16rem;
  background: #242425;
}
#hero-area .hero-title{    
    font-size: 6rem;
    line-height: 8.5rem;
    letter-spacing: -2px;
}
#hero-area .hero-subtitle{
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
    opacity: 0.5;
    margin-bottom: 3rem;
}
#hero-area .btn{
  margin-right: 5px;
}

#hero-area img.hero-img-right{
  z-index: 5000;
  position: absolute;
  top: -16px;
}

*--   Hero-Area-responsive   --*/
@media(min-width:1280px) {
  section#hero-area{
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
}
@media(max-width:1280px) {
  #hero-area img.hero-img-right{
    top: -30px;
  }
}
@media(max-width:1080px) {
  section#hero-area {
    padding-top: 20rem;
    padding-bottom: 14rem;
  }
  #hero-area .hero-title{
    font-size: 52px;
    line-height: 62px;
  }
  #hero-area .hero-subtitle{
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  #hero-area img.hero-img-right{
    top: 40px;
  }
}
@media(max-width:840px) {
  .hero-text{
    text-align: center;
    padding: 0px 70px;
  }
  #hero-area .hero-title{
    font-size: 48px;
    line-height: 62px;
  }
  .hero-subtitle{
    font-size: 16px;
  }
}
@media(max-width:640px) {
  .hero-text{
    text-align: center;
    padding: 0px 0px;
  }
  #hero-area .hero-title{
    font-size: 48px;
    line-height: 52px;
  }
  #hero-area .hero-text .btn{
    margin-top: 20px;
  }
}
@media(max-width:480px) {
  .hero-text{
    text-align: center;
    padding: 0px 10px;
  }
}


/*--   how-works   --*/
#how-works{
  background: #343446;
  padding-bottom: 0;
}
#how-works .content{
  padding: 2rem;
}
#how-works .content:hover{
  cursor: pointer;
}
#how-works .content h4{
  margin-top: 2rem;
}
#how-works .ico{
  font-size: 5rem;
}

/*-- How it works Responsive --*/

@media(max-width:1080px) {
  #how-works .content{
    margin-bottom: 30px;
    padding: 4rem;
  }
  #how-works .content:hover{
    padding: 4rem;
  }
}
@media(max-width:640px) {
  #how-works .content{
    padding: 3rem;
  }
  #how-works .content:hover{
    padding: 3rem;
  }
}
@media(max-width:400px) {
  #how-works .content{
    padding: 1.5rem;
  }
  #how-works .content:hover{
    padding: 1.5rem;
  }
}

/*--   features   --*/
.features{}
.features .content{
  position: relative;
  float: left;
  margin-top: 30px;
}
.features .content span{
  display: block;
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 30px;
}
.features .content .ico{
  font-size: 4.5rem;
  margin-top: 10px;
  text-align: center;
}
.features .content p{
  padding-left: 90px;
  margin-bottom: 30px;
}
/*--   feature-area-image-position   --*/
.feature-img-right{
  width: 150% !important;
  max-width: inherit;
  padding-left: 30px;
}
.feature-img-left{
  width: 150% !important;
  max-width: inherit;
  padding-right: 30px;
  margin-left: -50%;
}
.feature-img-bottom{
  padding-top: 60px;
  margin-bottom: -60px;
  width: 90% !important;
  margin: auto;
  margin-bottom: -60px;
}
.feature-img-center{
  margin: auto;
  width: 85% !important;
}

/*--   Features area image position Responsive  --*/
@media(max-width:840px) {
  .features .feature-img-right, .features .feature-img-left{
    width: 100% !important;
  }
}


/*--   feature-1  --*/
.feature-1{
  background: transparent;
}

/*--   feature-2  --*/
.feature-2{
  background: #343446;
}
.feature-2 .content span{
  float: none;
}
.feature-2 .content p{
  padding-left: 0px;
  margin-bottom: 30px;
}

/*--   feature-2 responsive  --*/
@media(max-width:640px) {
  .feature-2 .content{
    text-align: center;
  }
  .feature-2 .content span{
    float: none;
    margin: 5px auto;
  }
  .feature-2 .content-2{
    margin-top: 0px;
  }s
}



/*--   FAQ   --*/
#faq{}
#faq .accordion-wrap{
  margin-bottom: 30px;
}
#faq button.accordion {
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    border: 1px solid #8C8C8C;
    transition: 0.4s;
    margin-top: -1px;
}
#faq button.accordion.active, button.accordion:hover {
    background-color: #25252b !important;
    border: 1px solid #25252b;
    transition: 0.4s;
}
#faq div.panel {
  padding: 0 18px;
  background-color: transparent;
  display: none;
}
#faq div.panel.show {
  display: block !important;
  transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#faq div.panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0px;
  transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#faq div.panel.show {
  opacity: 1;
  max-height: 500px;
  padding: 2rem;
  background-color: #494949;
}
#faq button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
    margin-top: -3.5rem;
    background: #fff;
    padding: 3px 5px 3px 3px;
}
#faq button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    background: #FFB300;
}


/*--   call-to-action   --*/
#download{
  padding: 16rem 0rem;
}
.call-to-action-1{
  min-height: 500px;
  background-color: transparent;
  background-image: url("../img/header-bg-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  background-attachment: scroll;
  padding-top: 25rem;
  padding-bottom: 20rem;
}
}
.call-to-action-1 .hero-title{    
    font-size: 6rem;
    font-weight: 100;
    line-height: 8.5rem;
}
.call-to-action-1 .hero-subtitle{
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
    opacity: 0.5;
    margin-bottom: 3.5rem;
}
.call-to-action-1 .btn{
  margin-right: 10px;
}



/*--   form   --*/

#leave-message{
  background: #343446;
}
#leave-message .section-sub-title{
  margin-bottom: -20px;
}
#leave-message input.form-control, #leave-message textarea.form-control{
  height: 48px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #ffffff;
  box-shadow: none;
  padding: 10px 10px;
  margin-bottom: 10px;
  font-style: oblique;
  font-size: 18px;
  font-weight: 300;
  color: #212121;
  background: transparent;
  opacity: .6;
}
#leave-message textarea.form-control{
  margin-bottom: 30px;
  min-height: 80px;
}
#leave-message input.form-control:hover, 
#leave-message input.form-control:active, 
#leave-message input.form-controll:focus,
#leave-message textarea.form-control:hover, 
#leave-message textarea.form-control:active, 
#leave-message textarea.form-controll:focus{
  background: #fff;
  color: #212121;
  opacity: 1;
  font-size: 24px;
  border: 1px solid #8c8c8c;
  border-radius: 24px;
}


/*--   contact-address   --*/

#contact-address{
  background: #343446;
  padding-top: 0px;
}
#contact-address .fa {
  font-size: 26px;
  line-height: 70px;
  margin-bottom: 20px;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: transparent;
  border: 1px solid #fff;
  transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#contact-address .content{
  padding: 2rem;
  transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#contact-address .content:hover .fa {
  background: #FFB300;
  color: #2C2C34;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
}
#contact-address .content a{
  color: #FFB300;
}

/*--   footer   --*/
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}